<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Le styles -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include 'navbar.twig' %}
    <div class="container">
        {% block body %}{% endblock %}
        <hr />
        {% include 'footer.twig' %}
    </div>
  </body>
</html>

