;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Application ini file configuration ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[app]
namespace = Sandbox
cache_dir = "%app.root_dir%/cache"

[templating]
default_engine = twig
cache_dir = "%app.cache_dir%/views"

[dev_appserver]
name = built-in ;lighttpd
