;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Application ini file configuration ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[app]
    namespace = Sandbox
    cache_dir = "%app.root_dir%/cache"

[templating]
    default_engine = smarty
    cache_dir = "%app.cache_dir%/templates"

[dev_appserver]
    name = built-in ;lighttpd

