;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; Application ini file configuration ;
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

[app]
  namespace = Sandbox
  cache_dir = "%app.root_dir%/cache"

[templating]
  default_engine = smarty
  cache_dir = "%app.root_dir%/cache/smarty"

[phpalchemy]
  ;root_dir = "../../phpalchemy"
