{% extends 'page.twig' %}

{% block title %}Basic Form{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
      <li><a href="/sample_ui"><i class="icon-home"></i> Start</a></li>
      <li class="active"><a href="/sample_ui/basic_form"><i class="icon-list-alt"></i> Basic Form</a></li>
      <li><a href="/sample_ui/login_form"> Login Form Example</a></li>
      <li><a href="/sample_ui/list1"> List Example</a></li>
    </ul>

    <div class="row">
      <div class="span12">
        {{ form('basic_form1') | raw }}
      </div>
    </div>

    <br />
    {% if postData %}
    <pre>{{ postData }}</pre>
    {% endif %}
{% endblock %}
