{% extends 'page.twig' %}

{% block title %}Personalized{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
      <li><a href="/sample_ui"><i class="icon-home"></i> Start</a></li>
      <li><a href="/sample_ui/basic_form"><i class="icon-list-alt"></i> Basic Form</a></li>
      <li class="active"><a href="#"> Filled Form</a></li>
      <li><a href="/sample_ui/login"> Login Form Example</a></li>
    </ul>

    <div class="row">
      <div class="span12">
        {{ form('form1') | raw }}
      </div>
    </div>
{% endblock %}
