{% extends 'page.twig' %}

{% block title %}
  PhpAlchemy Ui generation
{% endblock %}

{% block content %}
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active"><a href="/sample_ui"><i class="icon-home"></i> Start</a></li>
    <li><a href="/sample_ui/basic_form"><i class="icon-list-alt"></i> Basic Form</a></li>
    <li><a href="/sample_ui/filled_form"> Filled Form</a></li>
    <li><a href="/sample_ui/login"> Login Form Example</a></li>
  </ul>

  <div class="span12">
    <h3>User Interface Generation Examples.</h3>
    <h4>Forms</h4>
    <p>PhpAlchemy provides Forms geneartion tool. Here's how it works.</p>
  </div>

  <div class="span12">
    <ul><li><a href="/sample_ui/basic_form">Basic Form Example</a> Basic Form example</li></ul>
    <ul><li><a href="/sample_ui/filled_form">Filled Form Example</a> Passing data to a form</li></ul>
    <ul><li><a href="/sample_ui/login">Login Form Example</a> Example of a login form</li></ul>
  </div>
</div>
{% endblock %}
