{% extends 'page.twig' %}

{% block title %}
  PhpAlchemy Ui generation
{% endblock %}

{% block content %}
    <div class="row">
      <div class="span12">
        <h3>User Interface Generation Examples.</h3>
        <h4>Forms</h4>
        <p>PhpAlchemy provides Forms geneartion tool. Here's how it works.</p>
      </div>

      <div class="span12">
        <ul>
          <li><a href="/sample_ui/basic_form">Basic Form Example</a> Basic Form example</li>
        </ul>
        <ul>
          <li><a href="/sample_ui/filled_form">Filled Form Example</a> Passing data to a form</li>
        </ul>
        <ul>
          <li><a href="/sample_ui/login">Login Form Example</a> Example of a login form</li>
        </ul>
      </div>
    </div>
{% endblock %}
