{% extends 'page.twig' %}

{% block title %}Login Home{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="/sample_ui"><span class="glyphicon glyphicon-home"></span> Start</a></li>
        <li><a href="/sample_ui/basic_form"><span class="glyphicon glyphicon-tasks"></span> Basic Form</a></li>
        <li class="active"><a href="/sample_ui/login_form"><span class="glyphicon glyphicon-tasks"></span> Login Form Example</a></li>
        <li><a href="/sample_ui/list1"><span class="glyphicon glyphicon-list-alt"></span> List #1 Example</a></li>
        <li><a href="/sample_ui/list2"><span class="glyphicon glyphicon-list-alt"></span> List #2 Example</a></li>
    </ul>
<
    <div class="row">
      <div class="span12">
        <h5>Data Received:</h5>
        <pre>{{ params }}</pre>
        <p>some text.</p>
        <h5>Message form Controller Action:</h5>
        {% if login_success %}
        <div class="alert alert-success">{{ message }} <a href="login_form"> Back to Form</a></div>
        {% else %}
        <div class="alert alert-danger">{{ message }} <a href="login_form"> Try Again</a></div>
        {% endif %}
      </div>
    </div>
{% endblock %}
