{% extends 'page.twig' %}

{% block title %}Login Form{% endblock %}

{% block content %}
<div class="row">
    {% include 'nav_demo.twig' %}

    <div class="span12">
    {{ form('author_form') | raw }}
    </div>
</div>

<br />
{% if postData %}
<pre>{{ postData }}</pre>
{% endif %}

{% endblock %}
