{% extends 'page.twig' %}

{% block title %}List 2{% endblock %}

{% block content %}
<div class="row">
    {% include 'nav_demo.twig' %}

    <div class="span12">
        {{ datatable.employeesList.getGenerated('html')|raw }}
    </div>
</div>
<br />
{% endblock %}

{% block js %}
<script language="JavaScript">
    {{ datatable.employeesList.getGenerated('js')|raw }}
</script>
{% endblock %}