{% extends 'page.twig' %}

{% block title %}List 2{% endblock %}

{% block content %}
<div class="row">
    <ul class="nav nav-tabs">
        <li><a href="/demo"><span class="glyphicon glyphicon-home"></span> Start</a></li>
        <li><a href="/demo/basic_form"><span class="glyphicon glyphicon-tasks"></span> Basic Form</a></li>
        <li><a href="/demo/login_form"><span class="glyphicon glyphicon-tasks"></span> Login Form Example</a></li>
        <li><a href="/demo/list1"><span class="glyphicon glyphicon-list-alt"></span> List #1 Example</a></li>
        <li><a href="/demo/list2"><span class="glyphicon glyphicon-list-alt"></span> List #2 Example</a></li>
        <li class="active"><a href="/demo/employees"><span class="glyphicon glyphicon-list-alt"></span> List #3 Example</a></li>
    </ul>
    <div class="span12">
        {{ datatable.employeesList.getGenerated('html')|raw }}
    </div>
</div>
<br />
{% endblock %}

{% block js %}
<script language="JavaScript">
    {{ datatable.employeesList.getGenerated('js')|raw }}
</script>
{% endblock %}