{% extends 'page.twig' %}

{% block title %}
  PhpAlchemy Ui generation
{% endblock %}

{% block content %}
<div class="row">
    {% include 'nav_demo.twig' %}

    <div class="span12">
        <h3>User Interface Generation Examples.</h3>
        <h4>Forms</h4>
        <p>PhpAlchemy provides Forms generation tool. Here's how it works.</p>
    </div>

    <div class="span12">
        <ul><li><a href="/demo/basic_form">Basic Form Example</a> Basic Form example</li></ul>
        <ul><li><a href="/demo/login_form">Login Form Example</a> Example of a login form</li></ul>
        <ul><li><a href="/demo/list1">Data Table #1 Example</a> Example using static data</li></ul>
        <ul><li><a href="/demo/list2">Data Table #2 Example</a> Example using async data (Ajax loading data)</li></ul>
        <ul><li><a href="/demo/employees_list">Data Table #3 Example</a> Example using async data (Ajax loading data) - Server Side Processing</li></ul>
    </div>
</div>
{% endblock %}
