{% extends 'master.twig' %}

{% block title %}
   Home example
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="span12">
        <h5>Data Received:</h5>
        <pre>{{ params }}</pre>
        <p>some text.</p>
        <h5>Message form Controller Action:</h5>
        {% if login_success %}
        <div class="alert alert-success">{{ message }} <a href="login"> Back to Form</a></div>
        {% else %}
        <div class="alert alert-error">{{ message }} <a href="login"> Try Again</a></div>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
