
<div data-role="navbar" data-iconpos="top">
    <ul>
        <li>
            <a href="/" data-icon="home" class="{% if _action == 'index' %}ui-btn-active ui-state-persist{% endif %}">Welcome</a>
        </li>
        <li>
            <a href="/about" data-icon="alert" class="{% if _action == 'about' %}ui-btn-active ui-state-persist{% endif %}">About</a>
        </li>
        <li>
            <a href="/data" data-icon="gear" class="{% if _action == 'data' %}ui-btn-active ui-state-persist{% endif %}">Data Serving</a>
        </li>
        <li>
            <a href="/register" data-icon="gear" class="{% if _action == 'register' %}ui-btn-active ui-state-persist{% endif %}">Register Form</a>
        </li>
    </ul>
</div><!-- /navbar -->

