
<div data-role="navbar" data-iconpos="top">
    <ul>
        {% for menuItem in _menu %}
            <li>
                <a href="{{ menuItem['url'] }}" data-icon="home"
                   class="{% if _action == menuItem['url'] %}ui-btn-active ui-state-persist{% endif %}"
                >{{ menuItem['label'] }}</a>
            </li>
        {% endfor %}
    </ul>
</div><!-- /navbar -->

