{% extends 'master.twig' %}

{% block body %}
    {% include 'navbar.twig' %}

    <div class="container">
        {{ title }}
        <hr />
        {% include 'footer.twig' %}
    </div>
{% endblock %}
