;
; Environment ini file configuration
;
; Use this file to configure all settings for a specific env. delopment, production or any variant depending at your app
; you can configure php ini directives on
;

[env]
type = dev

[php]
ini_set.display_errors = On
ini_set.error_reporting = E_ALL
ini_set.date.timezone = America/La_Paz

[database]
;engine = 'mysql' ;alternatives: [mysql|pgsql|mssql|oracle|sqlite], defaults: none
;host = '...'
;port = '...'
;user = '...'
;password = '...'

[layout]
default = bootstrap
;mobile  = jquery-mobile

[assets]
precedence = app framework lib

[assets_location]
app = "%app.root_dir%/web/assets/app"
framework = "%app.root_dir%/web/assets/framework"
