<?php
use Symfony\Component\Routing\Route;
use Symfony\Component\Routing\RouteCollection;

$routes = new RouteCollection();

$routes->add(
    'home_route',
    new Route(
        '/',
        array(
            '_controller' => 'sample',
            '_action' => 'index'
        )
    )
);

$routes->add(
    'to_index_route',
    new Route(
        '/{_controller}',
        array('_action' => 'index')
    )
);

$routes->add(
    'complete_route',
    new Route(
        '/{_controller}/{_action}'
    )
);

return $routes;