<?php
use Alchemy\Component\Routing\Mapper;
use Alchemy\Component\Routing\Route;

$mapper = new Mapper();

$mapper->connect(
    'home_route',
    new Route(
        '/',
        array(
            '_controller' => 'sample',
            '_action' => 'index'
        )
    )
);

$mapper->connect(
    'to_index_route',
    new Route(
        '/{_controller}',
        array('_action' => 'index')
    )
);

$mapper->connect(
    'complete_route',
    new Route(
        '/{_controller}/{_action}'
    )
);

return $mapper;
