<!--<footer>
    <p>Powered by <a href="http://phpalchemy.org">PhpAlchemy</a> Framework</p>
</footer>-->

<!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p>Powered by <a href="http://phpalchemy.org">PhpAlchemy</a> Framework</p>
      </div>
    </footer>
