<!-- Footer -->
<br />
<div id="footer">
    <div class="container">
        <p class="text-muted pull-right">Powered by <a href="http://github.com/phpalchemy/phpalchemy" target="_blank">PHP-Alchemy</a> Framework </p>
        <p class="text-muted">© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </div>
</div>

<!--<footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a> · Powered by <a href="http://phpalchemy.org">PhpAlchemy</a> Framework </p>
</footer>-->
